<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.DeptMapper">
    <select id="roleTree" resultType="java.lang.String">
        select d.id
        from sys_dept d
        left join sys_role_dept rd on d.id = rd.dept_id
        where rd.role_id = #{id,jdbcType=VARCHAR}
        <if test="deptCheckStrictly">
            and d.id not in (select d.parent_id
            from sys_dept d
            inner join sys_role_dept rd on d.id = rd.dept_id and rd.role_id = #{id})
        </if>
        order by d.parent_id, d.dept_order
    </select>
</mapper>